*

!Experts/
!Experts/Kel
!Experts/Kel/*.mq5

!Indicators/
!Indicators/Kel
!Indicators/Kel/*.mq5

!.vscode/
!.vscode/*
!.clang-format
!.clang-format.sample

!Include/
!Include/Expert
!Include/Expert/Kel
!Include/Expert/Kel/*
!Include/Expert/Trailing
!Include/Expert/Trailing/Kel
!Include/Expert/Trailing/Kel/*

!Include/Kel
!Include/Kel/*
