*

!Experts/
!Experts/Kel
!Experts/Kel/*.mq5

!Indicators/
!Indicators/Kel
!Indicators/Kel/*.mq5

!.vscode/
!.vscode/*
!.clang-format

!Include/
!Include/Kel
!Include/Kel/*
!Include/Kel/*/*
!Include/Kel/*/*/*

